target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/vcs.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


/ResponseBody/
test.csv
/Execution_Reports/

/.allure/allure-2.13.9/bin/allure
/.allure/allure-2.13.9/bin/allure.bat
/.allure/allure-2.13.9/config/allure.yml
/.allure/allure-2.13.9/lib/allure1-model-1.0.jar
/.allure/allure-2.13.9/lib/allure-commandline-2.13.9.jar
/.allure/allure-2.13.9/config/allure-cucumber.yml
/.allure/allure-2.13.9/lib/allure-generator-2.13.9.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/allure-jira-commons-2.13.9.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/allure-jira-commons-2.13.9.jar
/.allure/allure-2.13.9/config/allure-junit.yml
/.allure/allure-2.13.9/lib/allure-model-2.13.0.jar
/.allure/allure-2.13.9/plugins/behaviors-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/custom-logo-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/jira-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/junit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/packages-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/screen-diff-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/trx-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/xctest-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/xray-plugin/allure-plugin.yml
/.allure/allure-2.13.9/plugins/xunit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.9/lib/allure-plugin-api-2.13.9.jar
/.allure/allure-2.13.9/plugins/behaviors-plugin/behaviors-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/commons-beanutils-1.9.3.jar
/.allure/allure-2.13.9/lib/commons-codec-1.11.jar
/.allure/allure-2.13.9/lib/commons-collections4-4.2.jar
/.allure/allure-2.13.9/lib/commons-collections-3.2.2.jar
/.allure/allure-2.13.9/lib/commons-io-2.6.jar
/.allure/allure-2.13.9/lib/commons-lang3-3.9.jar
/.allure/allure-2.13.9/lib/commons-logging-1.2.jar
/.allure/allure-2.13.9/lib/commons-text-1.3.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.9/plugins/custom-logo-plugin/static/custom-logo.svg
/.allure/allure-2.13.9/plugins/custom-logo-plugin/custom-logo-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/flexmark-0.50.36.jar
/.allure/allure-2.13.9/lib/flexmark-util-0.50.36.jar
/.allure/allure-2.13.9/lib/freemarker-2.3.29.jar
/.allure/allure-2.13.9/lib/httpclient-4.5.9.jar
/.allure/allure-2.13.9/lib/httpcore-4.4.11.jar
/.allure/allure-2.13.9/plugins/behaviors-plugin/static/index.js
/.allure/allure-2.13.9/plugins/packages-plugin/static/index.js
/.allure/allure-2.13.9/plugins/screen-diff-plugin/static/index.js
/.allure/allure-2.13.9/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.9/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.9/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.9/lib/jackson-dataformat-xml-2.9.8.jar
/.allure/allure-2.13.9/lib/jackson-dataformat-yaml-2.9.8.jar
/.allure/allure-2.13.9/lib/jackson-module-jaxb-annotations-2.9.8.jar
/.allure/allure-2.13.9/lib/javax.activation-api-1.2.0.jar
/.allure/allure-2.13.9/lib/javax.servlet-api-3.1.0.jar
/.allure/allure-2.13.9/lib/jaxb-api-2.3.1.jar
/.allure/allure-2.13.9/lib/jaxb-utils-1.0.jar
/.allure/allure-2.13.9/lib/jcommander-1.78.jar
/.allure/allure-2.13.9/lib/jetty-http-9.4.20.v20190813.jar
/.allure/allure-2.13.9/lib/jetty-io-9.4.20.v20190813.jar
/.allure/allure-2.13.9/lib/config/jetty-logging.properties
/.allure/allure-2.13.9/lib/jetty-server-9.4.20.v20190813.jar
/.allure/allure-2.13.9/lib/jetty-util-9.4.20.v20190813.jar
/.allure/allure-2.13.9/plugins/jira-plugin/jira-plugin-2.13.9.jar
/.allure/allure-2.13.9/plugins/junit-xml-plugin/junit-xml-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/config/log4j.properties
/.allure/allure-2.13.9/lib/log4j-1.2.17.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.9/plugins/jira-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.9/lib/opencsv-4.6.jar
/.allure/allure-2.13.9/plugins/packages-plugin/packages-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/properties-2.0.RC5.jar
/.allure/allure-2.13.9/plugins/README.txt
/.allure/allure-2.13.9/plugins/jira-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.9/plugins/xray-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.9/plugins/screen-diff-plugin/screen-diff-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/slf4j-api-1.7.28.jar
/.allure/allure-2.13.9/lib/slf4j-log4j12-1.7.28.jar
/.allure/allure-2.13.9/lib/snakeyaml-1.23.jar
/.allure/allure-2.13.9/lib/stax2-api-3.1.4.jar
/.allure/allure-2.13.9/plugins/custom-logo-plugin/static/styles.css
/.allure/allure-2.13.9/plugins/screen-diff-plugin/static/styles.css
/.allure/allure-2.13.9/lib/tika-core-1.22.jar
/.allure/allure-2.13.9/plugins/trx-plugin/trx-plugin-2.13.9.jar
/.allure/allure-2.13.9/lib/woodstox-core-5.0.3.jar
/.allure/allure-2.13.9/plugins/xctest-plugin/xctest-plugin-2.13.9.jar
/.allure/allure-2.13.9/plugins/xctest-plugin/lib/xmlwise-1.2.11.jar
/.allure/allure-2.13.9/plugins/xray-plugin/xray-plugin-2.13.9.jar
/.allure/allure-2.13.9/plugins/xunit-xml-plugin/xunit-xml-plugin-2.13.9.jar
.allure/
